table{
    width:100%;
}

.bouton{
    cursor:pointer;
}

label{
    color: #2980B9;
    font-size: 3em;
    font-weight:bold;
    text-align:center;
    vertical-align:middle;
    margin:0px;
    line-height:70px;
}

#role, #group, #search{
    margin-bottom:30px;
}

#role select{
    text-transform:capitalize;
}

#details{
    background-color: #2980B9;
    color:white;
    padding:1%;
    border-radius: 7px;
}

#details input{
    margin-bottom:10px;
    margin-top: 10px;
}

h1{
    margin-bottom:50px;
    margin-top:50px;
    font-size:5em;
    color: #2980B9;
}
h3{
    margin-top:0px;
}
table#results {
    list-style: none;
    margin: 1em 0;
    padding: 0;
}
table#results4 li {
    font-weight: bold;
    margin: 0;
    padding: 3px 10px 5px 20px;
    border-bottom: 1px solid #ccc;
    color: #666;
}
table#results li:hover {
    color: #000;
    background-color: #dbebf5;
}